$themes: (
    'dark': (
        'text':      #e0f0ff,
        'desc':      #b8ccde,
        'bgc':       #3b3b3b,
        'syntax':    lime
    ),
    'light': (
        'text':     #2c3e50,
        'desc':     #445c74,
        'bgc':      #fafafa,
        'syntax':   green
    )
);

$selected-theme: "light";

@function getThemeColour($key: 'light', $component) {
    $map: map-get($themes, $key);
    @return map-get($map, $component);
}

// BEGIN
.mainview {
    color: getThemeColour($selected-theme, 'text');
    width: 100%;
    height: 100%;
    font-family: Open Sans, sans-serif!important;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    color: inherit;
    margin-top: 0;
    .toptitle {
        padding-top: 10px;
        padding-left: 18px;
        font-weight: bold;
        font-size: 2.8rem;
        color: getThemeColour($selected-theme, 'text')!important;
        width: 50%;
        height: 15%;
        #topdesc {
            color: getThemeColour($selected-theme, 'desc')!important;
            line-height: 18px!important;
            overflow-wrap: break-word;
            margin-top: 6px;
        }
    }
    .cl {
        background-color: #3b3b3b;
        color: getThemeColour($selected-theme, 'text');
        width: 30%;
        height: 75%;
        float: left;
        overflow: scroll;
        position: absolute;
        padding-bottom: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: #7f98b3;
        border-radius: 16px;
        margin-left: 18px;
        .cltitle {
            font-size: 1.3rem;
            font-weight: bold;
            color: getThemeColour($selected-theme, 'text')!important;
            padding-left: 8px;
            padding-top: 10px;
            padding-bottom: 8px;
        }
        .clfot {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: right;
        }
        .clcon {
            overflow: scroll;
            .md-checkbox {
                margin-top: 8px;
                margin-bottom: 8px;
                padding-left: 12px;
            }
            .fform {
                width: 100%!important;
                background-color: inherit;
            }
        } 
        .clbut {
            line-height: 10px;
            bottom: 1px;
            font-weight: bold;
            right: 6px;
            position: relative;
            float: right
        }
    }
    .od {
        background-color: getThemeColour($selected-theme, 'bgc');
        width: 60%;
        height: 75%;
        float: right;
        overflow: scroll;
        position: relative;
        padding-bottom: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: #7f98b3;
        border-radius: 16px;
        margin-right: 18px;
        .odtitle {
            font-size: 1.3rem;
            font-weight: bold;
            color: getThemeColour($selected-theme, 'text')!important;
            padding-left: 8px;
            padding-top: 10px;
            padding-bottom: 8px;
            text-align: center;
            width: 100%;
        }
        .codearea {
            width: 96%;
            height: 90%;
            background-color: inherit;
            margin-left: 2%;
            margin-right: 2%;
            font-family: 'Courier New', Courier, monospace;
            #green {color: getThemeColour($selected-theme, 'syntax');}
            font-size: 0.7rem;
            overflow: scroll;
            color: #dfebf7;
        }
    }
    .cone {
        visibility: visible;
    } .ctwo {
        visibility: hidden;
    } .cthree {
        visibility: hidden;
    }
}
body {background-color: getThemeColour($selected-theme, 'bgc')!important; color: getThemeColour($selected-theme, 'text')!important;}
// END

// webpack integration
:export {
    selected-theme: $selected-theme;
}
